body{
    background-color:thistle;
}
div{
    margin-top:50px;
    background-color:gray;
    height:2px;
    width: 10%;
    transition-property:width;
    transition-duration: 1500ms;
    transition-delay: 500ms;
}
div:hover{
    width:90%;
}