body{
    background-color:thistle;
}
button{
    padding:10px;
    margin: 50px auto;
    border:none;
    cursor:pointer;
    color:#fff;
    background-color: seagreen;

    /**transition**/
    transition-property:background-color;
    transition-duration:5000ms
}
button:hover{
    background-color: aquamarine;
}