.flexbox-container{
    display:flex;
}
.bloka, .blokb,.blokc{
    height:200px;
    width:200px;
}
.bloka{
    background:red;
}
.blokb{
    background:blue;
}
.blokc{
    background:purple;
}

#flexboxrow-reverse{
    flex-direction: row-reverse;
}
#flexboxcolumn{
    flex-direction:column;
}
#flexboxcolumnreverse{
    flex-direction: column-reverse;
}
#flexboxjustify{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    justify-content:center;
}
#flexboxjustifystart{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    justify-content:flex-start;
}
#flexboxjustifyend{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    justify-content:flex-end;
}
#flexboxjustifaround{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    justify-content:space-around;
}
#flexboxjustifybetween{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    justify-content:space-between;
}
#alignitems{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    align-items: center;
}
#alignitemsstart{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    align-items: flex-start;
}
#alignitemsend{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    align-items: flex-end;
}
#alignitemsstretch{
    width:100%;
    background:yellow;
    height:300px;
    border:3px solid black;
    align-items: stretch;
}